#services {
  height: 700px;
  width: 100vw;
  margin-top: 0px;
}
.gornji {
  width: 54%;
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.donji {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.textSer {
  margin-top: 120px;
  color: rgb(141, 145, 161);
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
.qualitySer {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0px;
}
.div1 {
  background-color: rgb(247, 247, 247);
  margin: 20px;
  display: grid;
  flex-direction: column;
}
li {
  color: rgb(152, 155, 170);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: medium;
}
ul {
  margin-top: 20px;
}
i{
  justify-self: center;
}
.naslovi {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 30px;
  justify-self: center;
}
.linija {
  color: rgb(235, 235, 235);
  align-self: center;
  justify-self: center;
}
.border {
  width: 250px;
  background-color: rgb(217, 217, 217);
}
#portofolio {
  height: 650px;
  width: 100vw;
  background-color: rgb(247, 247, 247);
}
.gornjiPort {
  width: 54%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.namePort {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0px;
}
.slikePort {
  display: flex;
  justify-content: center;
}
.divPort {
  height: 350px;
  width: 350px;
  width: 290px;
  background-color: aqua;
  margin: 25px;
}
.slika1p {
  background-image: url(./slike/IMG_2399.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slika2p {
  background-image: url(./slike/IMG_2401.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slika3p {
  background-image: url(./slike/IMG_2403.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#timeline {
  height: 850px;
  width: 100vw;
}
.upper {
  width: 54%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textTime {
  margin-top: 120px;
  color: rgb(141, 145, 161);
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
.nameTime {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  justify-self: center;
}
.downT {
  width: 100vw;
  display: flex;
  align-items: center;
}
.leftTime {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.experience {
  width: 430px;
  background-color: rgb(234, 234, 234);
  margin-right: 25px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.divTime {
  height: 110px;
  width: 430px;
  background-color: rgb(247, 247, 247);
  border-left: 6px solid rgb(222, 222, 222);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.rightTime {
  width: 48%;
  display: grid;
  flex-direction: column;
  margin-left: 15px;

}
.wtf{
  margin-left: 10px;
  display: grid;
  justify-self: flex-start;
}
.education {
  height: 50px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.maliDiv {
  height: 30px;
  width: 110px;
  background-color: white;
  color: rgb(174, 177, 189);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  justify-self: flex-end;
}
.naslovTime {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
.podnaslov {
  color: rgb(134, 138, 155);
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
#feedback {
  height: 700px;
  width: 100vw;
  background-color: rgb(247, 247, 247);
}
.downFeed {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.gornjiFeed {
  width: 48%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gornjiFeed1{
  width: 58%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainFeed {
  width: 65%;
  background-color: white;
}
.sivi {
  margin-top: 0px;
  width: 100vw;
  background-color: rgb(234, 234, 234);
  display: flex;
}
.imeIprezime {
  margin-top: 0px;
  width: 45%;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3%;
}
.bijeli {
  width: 100vw;
}
.albert {
  background-color: rgb(234, 234, 234);
  margin-top: 10;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.graphic {
  margin-top: 5px;
  color: rgb(134, 138, 155);
  font-family: Arial, Helvetica, sans-serif;
}
.divCovjek {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slikaCovjek {
  width: 60px;
  border-radius: 100%;
}
.textDivf {
  height: 250px;
  width: 60%;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(134, 138, 155);
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
@media only screen and (max-width: 1023px) {
  .experience {
    width: 380px;
  }
  .divTime {
    width: 380px;
  }
  .div1 {
    width: 35%;
    margin-left: 5px;
  }
  .border {
    width: 230px;
  }
  .donji{
    flex-wrap: wrap;
  }
  #services{
    height: 1200px;
  }
  .slikePort{
    flex-wrap: wrap;
  }
  #portofolio{
    height: 1100px;
  }
  #feedback{
    height: 900px;
  }
  .bijeli{
    height: 500px;
  }
  .textDivf {
    height: 450px;
    width: 50%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(134, 138, 155);
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .gornjiFeed1{
    width: 70%;
  }
}
@media only screen and (max-width: 750px) {
  #services {
    height: 1600px;
    width: 100vw;
    margin-top: 0px;
  }
  .qualitySer{
    margin-left: 20px;
  }
  .div1 {
    width: 65%;
  }
  .donji {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
  .border {
    width: 80%;
    background-color: rgb(217, 217, 217);
    margin-top: 40px;
  }
  .slikePort {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
#portofolio{
  height: 1500px;
}
.gornjiPort{
  width: 70%;
}
  #timeline {
    height: 1350px;
    width: 100vw;
  }
  .namePort{
    margin-left: 10px;
  }
  .nameTime{
    margin-left: 20px;
  }
  .downT {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .leftTime {
    width: 100vw;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .divTime {
    width: 400px;
    background-color: rgb(247, 247, 247);
    border-left: 6px solid rgb(222, 222, 222);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightTime {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  .experience {
    width: 400px;
    background-color: rgb(234, 234, 234);
    margin-right: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  .education {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .gornji{
    width: 70%;
  }
  .sivi{
    display: flex;
    justify-content: space-between;
  }

}
